## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [8]:
import os
import numpy as np
import pandas as pd

In [9]:
# 設定 data_path
dir_data = './data/'

In [16]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv('application_train.csv')

Path of read in data: ./data/application_train.csv

In [17]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 關於 DataFrame 的詳細資訊

In [27]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

#### 資料的 row 數以及 column 數

In [25]:
app_train.shape

(307511, 122)

In [34]:
print("row 數:{}".format(len(app_train.index)))
print("col 數:{}".format(len(app_train.columns)))

row 數:307511
col 數:122

#### 列出所有欄位

In [28]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [33]:
app_train.columns[6]

'CNT_CHILDREN'

#### 列出資料中 每個變數的敘述統計量

In [29]:
app_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

#### 觀察前 5 row 資料

In [30]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 截取部分資料

In [39]:
app_train[1:5][['SK_ID_CURR','TARGET','AMT_INCOME_TOTAL']]

   SK_ID_CURR  TARGET  AMT_INCOME_TOTAL
1      100003       0          270000.0
2      100004       0           67500.0
3      100006       0          135000.0
4      100007       0          121500.0

#### 從第0~第99列每2列取一次 取第2~第5欄

In [35]:
app_train.iloc[0:100:2,2:6]

   NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
0          Cash loans           M            N               Y
2     Revolving loans           M            Y               Y
4          Cash loans           M            N               Y
6          Cash loans           F            Y               Y
8          Cash loans           F            N               Y
10         Cash loans           F            N               Y
12         Cash loans           F            N               Y
14         Cash loans           F            N               Y
16         Cash loans           M            N               N
18    Revolving loans           F            N               Y
20    Revolving loans           M            Y               Y
22         Cash loans           F            N               N
24         Cash loans           M            Y               N
26         Cash loans           F            N               Y
28         Cash loans           M            Y               Y
30         Cash loans           F            N               Y
32         Cash loans           F            N               N
34         Cash loans           F            N               Y
36         Cash loans           F            N               Y
38         Cash loans           F            N               Y
40         Cash loans           M            N               Y
42         Cash loans           F            N               N
44         Cash loans           M            N               Y
46         Cash loans           F            N               Y
48         Cash loans           F            N               N
50    Revolving loans           F            N               Y
52         Cash loans           M            Y               N
54         Cash loans           M            Y               N
56         Cash loans           F            N               N
58         Cash loans           M            Y               Y
60         Cash loans           F            N               Y
62         Cash loans           M            Y               Y
64         Cash loans           M            Y               N
66         Cash loans           F            Y               Y
68    Revolving loans           F            N               N
70         Cash loans           M            N               N
72         Cash loans           M            N               Y
74         Cash loans           F            N               Y
76    Revolving loans           F            N               N
78         Cash loans           F            N               Y
80    Revolving loans           F            N               Y
82         Cash loans           M            Y               Y
84         Cash loans           F            N               Y
86         Cash loans           F            Y               Y
88         Cash loans           F            N               Y
90         Cash loans           F            N               Y
92         Cash loans           M            Y               Y
94         Cash loans           M            Y               Y
96         Cash loans           F            N               Y
98         Cash loans           F            N               Y

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

#### 去除遺失值

In [37]:
print(app_train.dropna())

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
71          100083       0         Cash loans           M            Y
124         100145       0         Cash loans           F            Y
152         100179       0         Cash loans           F            Y
161         100190       0         Cash loans           M            Y
255         100295       1         Cash loans           M            Y
296         100341       0         Cash loans           M            Y
298         100343       0         Cash loans           M            Y
316         100363       0         Cash loans           F            Y
323         100371       0         Cash loans           F            Y
328         100376       0         Cash loans           M            Y
337         100389       0         Cash loans           M            Y
343         100395       0         Cash loans           M            Y
369         100425       0         Cash loans           F            Y
415         100479       0    Revolving loans           M            Y
441         100508       0         Cash loans           F            Y
483         100557       0         Cash loans           F            Y
492         100567       1    Revolving loans           M            Y
591         100678       0         Cash loans           F            Y
696         100805       0         Cash loans           M            Y
701         100810       0    Revolving loans           M            Y
739         100852       0         Cash loans           M            Y
765         100879       1         Cash loans           F            Y
803         100920       0         Cash loans           M            Y
862         100988       0         Cash loans           M            Y
901         101038       0         Cash loans           M            Y
917         101059       0         Cash loans           M            Y
1001        101158       0    Revolving loans           M            Y
1008        101166       0    Revolving loans           F            Y
1047        101216       0         Cash loans           F            Y
1049        101218       0         Cash loans           M            Y
...            ...     ...                ...         ...          ...
306681      455319       0         Cash loans           F            Y
306683      455321       0         Cash loans           F            Y
306699      455341       0         Cash loans           M            Y
306723      455365       0         Cash loans           M            Y
306757      455405       0         Cash loans           F            Y
306759      455407       0         Cash loans           F            Y
306771      455419       0    Revolving loans           M            Y
306803      455460       0         Cash loans           F            Y
306814      455471       0         Cash loans           F            Y
306882      455551       0         Cash loans           M            Y
306894      455563       0         Cash loans           M            Y
306908      455578       0         Cash loans           M            Y
306911      455581       0         Cash loans           M            Y
306956      455628       0         Cash loans           M            Y
306957      455629       1         Cash loans           F            Y
306967      455642       0         Cash loans           F            Y
306969      455646       0         Cash loans           F            Y
307007      455687       0         Cash loans           M            Y
307039      455723       0         Cash loans           F            Y
307040      455724       0         Cash loans           M            Y
307149      455847       0         Cash loans           F            Y
307172      455875       0         Cash loans           M            Y
307174      455877       0         Cash loans           F            Y
307206      455914       0         Cash loans           F            Y
307215      455923       0         Cash loans           M            Y
307358      456083       0         Cash loans           F            Y
307359      456084       0         Cash loans           F            Y
307407      456140       1         Cash loans           F            Y
307456      456195       0         Cash loans           F            Y
307482      456226       0         Cash loans           F            Y

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
71                   Y             0          103500.0    573628.5
124                  Y             1          202500.0    260725.5
152                  N             0          202500.0    675000.0
161                  N             0          162000.0    263686.5
255                  N             1          225000.0   1019205.0
296                  Y             0           76500.0    545040.0
298                  Y             0          315000.0     90000.0
316                  Y             1          360000.0    493497.0
323                  Y             1          450000.0    808650.0
328                  Y             0          360000.0    254700.0
337                  Y             0          247500.0   1971072.0
343                  Y             0          225000.0    888840.0
369                  Y             2           90000.0    688500.0
415                  Y             0           90000.0    180000.0
441                  Y             0          450000.0   1971072.0
483                  Y             0          225000.0   1320975.0
492                  Y             0           99000.0    180000.0
591                  Y             2          184500.0   1078200.0
696                  N             0          270000.0   1098000.0
701                  Y             2          540000.0    900000.0
739                  Y             0          157500.0   1190340.0
765                  Y             0          450000.0   1323000.0
803                  Y             3          112500.0    832500.0
862                  Y             0          180000.0   1350000.0
901                  Y             0          180000.0    675000.0
917                  Y             0          225000.0    454500.0
1001                 Y             0          180000.0    180000.0
1008                 N             0          157500.0    180000.0
1047                 Y             0          135000.0    518562.0
1049                 Y             0          522000.0    746280.0
...                ...           ...               ...         ...
306681               Y             0          225000.0    704844.0
306683               Y             0          135000.0   1026000.0
306699               N             0          225000.0    675000.0
306723               Y             0          180000.0    301896.0
306757               N             0          225000.0   1597500.0
306759               N             0          108000.0    568908.0
306771               Y             0          450000.0   1125000.0
306803               Y             0          135000.0   1386265.5
306814               Y             0          135000.0    993082.5
306882               Y             0          517500.0   2250000.0
306894               Y             0          360000.0   1350000.0
306908               Y             0          180000.0    284400.0
306911               Y             0          247500.0    594261.0
306956               Y             1          261000.0    714154.5
306957               Y             2          135000.0    219249.0
306967               Y             0          225000.0    550980.0
306969               N             1          247500.0   1200744.0
307007               Y             0          112500.0    808650.0
307039               Y             0          157500.0    454500.0
307040               Y             1          202500.0   1350000.0
307149               Y             0          270000.0    640080.0
307172               Y             0          180000.0    735579.0
307174               N             0          135000.0    900000.0
307206               Y             0          315000.0   1066500.0
307215               N             0          157500.0    225000.0
307358               Y             2          112500.0    361462.5
307359               Y             1           99000.0    675000.0
307407               Y             1          261000.0    711454.5
307456               Y             0           94500.0    270000.0
307482               Y             0          225000.0    500566.5

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
71          24435.0  ...                 0                0                0
124         16789.5  ...                 0                0                0
152         53329.5  ...                 0                0                0
161         24781.5  ...                 0                0                0
255         31032.0  ...                 1                0                0
296         20677.5  ...                 0                0                0
298          4504.5  ...                 0                0                0
316         48942.0  ...                 0                0                0
323         31464.0  ...                 0                0                0
328         20250.0  ...                 0                0                0
337         68643.0  ...                 0                0                0
343         32053.5  ...                 0                0                0
369         20259.0  ...                 0                0                0
415          9000.0  ...                 0                0                0
441         62019.0  ...                 0                0                0
483         43785.0  ...                 0                0                0
492          9000.0  ...                 0                0                0
591         31522.5  ...                 0                0                0
696         28962.0  ...                 0                0                0
701         45000.0  ...                 0                0                0
739         63549.0  ...                 0                0                0
765         47650.5  ...                 0                0                0
803         24471.0  ...                 0                0                0
862         38821.5  ...                 0                0                0
901         34596.0  ...                 0                0                0
917         46570.5  ...                 0                0                0
1001         9000.0  ...                 0                0                0
1008         9000.0  ...                 0                0                0
1047        22099.5  ...                 0                0                0
1049        59094.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
306681      36117.0  ...                 0                0                0
306683      30127.5  ...                 0                0                0
306699      28597.5  ...                 0                0                0
306723      27819.0  ...                 0                0                0
306757      45783.0  ...                 0                0                0
306759      22558.5  ...                 0                0                0
306771      56250.0  ...                 0                0                0
306803      36697.5  ...                 0                0                0
306814      47776.5  ...                 0                0                0
306882      59485.5  ...                 0                0                0
306894      53671.5  ...                 0                0                0
306908      19134.0  ...                 0                0                0
306911      51133.5  ...                 0                0                0
306956      38871.0  ...                 0                0                0
306957      16083.0  ...                 0                0                0
306967      40221.0  ...                 0                0                0
306969      38736.0  ...                 0                0                0
307007      26217.0  ...                 0                0                0
307039      43150.5  ...                 0                0                0
307040      39474.0  ...                 0                0                0
307149      31261.5  ...                 0                0                0
307172      40032.0  ...                 0                0                0
307174      31887.0  ...                 0                0                0
307206      31180.5  ...                 0                0                0
307215      15034.5  ...                 0                0                0
307358      16051.5  ...                 0                0                0
307359      21906.0  ...                 0                0                0
307407      47673.0  ...                 0                0                0
307456      15075.0  ...                 0                0                0
307482      34969.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
71                    0                        0.0                       0.0
124                   0                        0.0                       0.0
152                   0                        0.0                       0.0
161                   0                        0.0                       0.0
255                   0                        0.0                       0.0
296                   0                        0.0                       0.0
298                   0                        0.0                       0.0
316                   0                        1.0                       0.0
323                   0                        0.0                       0.0
328                   0                        0.0                       0.0
337                   0                        0.0                       0.0
343                   0                        0.0                       0.0
369                   0                        0.0                       0.0
415                   0                        0.0                       0.0
441                   0                        0.0                       0.0
483                   0                        0.0                       0.0
492                   0                        0.0                       0.0
591                   0                        0.0                       0.0
696                   0                        0.0                       0.0
701                   0                        0.0                       0.0
739                   0                        0.0                       0.0
765                   0                        0.0                       0.0
803                   0                        0.0                       0.0
862                   0                        0.0                       0.0
901                   0                        0.0                       0.0
917                   0                        0.0                       0.0
1001                  0                        0.0                       0.0
1008                  0                        0.0                       0.0
1047                  0                        0.0                       0.0
1049                  0                        0.0                       0.0
...                 ...                        ...                       ...
306681                0                        0.0                       0.0
306683                0                        0.0                       0.0
306699                0                        0.0                       0.0
306723                0                        0.0                       0.0
306757                0                        0.0                       0.0
306759                0                        0.0                       0.0
306771                0                        0.0                       0.0
306803                0                        0.0                       0.0
306814                0                        0.0                       0.0
306882                0                        0.0                       0.0
306894                0                        0.0                       0.0
306908                0                        0.0                       0.0
306911                0                        0.0                       0.0
306956                0                        0.0                       0.0
306957                0                        0.0                       0.0
306967                0                        0.0                       0.0
306969                0                        0.0                       0.0
307007                0                        0.0                       0.0
307039                0                        0.0                       0.0
307040                0                        0.0                       0.0
307149                0                        0.0                       0.0
307172                0                        0.0                       0.0
307174                0                        0.0                       0.0
307206                0                        0.0                       0.0
307215                0                        0.0                       0.0
307358                0                        0.0                       0.0
307359                0                        0.0                       0.0
307407                0                        0.0                       0.0
307456                0                        0.0                       0.0
307482                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
71                             0.0                        0.0
124                            0.0                        0.0
152                            0.0                        1.0
161                            0.0                        0.0
255                            0.0                        6.0
296                            0.0                        0.0
298                            0.0                        0.0
316                            0.0                        0.0
323                            0.0                        0.0
328                            0.0                        0.0
337                            0.0                        0.0
343                            0.0                        0.0
369                            0.0                        0.0
415                            0.0                        0.0
441                            0.0                        0.0
483                            0.0                        0.0
492                            0.0                        0.0
591                            0.0                        0.0
696                            0.0                        1.0
701                            0.0                        0.0
739                            0.0                        1.0
765                            0.0                        1.0
803                            0.0                        0.0
862                            0.0                        1.0
901                            0.0                        0.0
917                            0.0                        4.0
1001                           0.0                        0.0
1008                           0.0                        0.0
1047                           0.0                        0.0

#### 遺失值補0

In [38]:
print(app_train.fillna(0))

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
13          28966.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
15          20160.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
24          12703.5  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307481      19975.5  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        0.0                       0.0
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        0.0                       0.0
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
13                    0                        0.0                       0.0
14                    0                        0.0                       0.0
15                    0                        0.0                       0.0
16                    0                        0.0                       0.0
17                    0                        0.0                       0.0
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
20                    0                        0.0                       0.0
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
24                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
28                    0                        0.0                       0.0
29                    0                        0.0                       0.0
...                 ...                        ...                       ...
307481                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        0.0                       0.0
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307493                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        0.0                       0.0
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        0.0                       0.0
307505                0                        0.0                       0.0
307506                0                        0.0                       0.0
307507                0                        0.0                       0.0
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              0.0                        0.0
4                              0.0                        0.0
5                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
8                              0.0                        0.0
9                              0.0                        0.0
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
13                             0.0                        0.0
14                             0.0                        0.0
15                             0.0                        0.0
16                             0.0                        0.0
17                             0.0                        0.0
18                             0.0                        0.0
19                             0.0                        0.0
20                             0.0                        0.0
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
24                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0
28                             0.0                        1.0